<div class="card flex justify-center base-readonly-modal">
  <p-dialog
    [modal]="true"
    [(visible)]="isModalVisible"
    [style]="{
      width: modalWidth,
      backgroundColor: '#000D1A',
      padding: '40px',
      border: 'none'
    }"
    [contentStyle]="{
      'backdrop-filter': isModalVisible ? 'blur(5px)' : 'none',
      '-webkit-backdrop-filter': isModalVisible ? 'blur(5px)' : 'none'
    }"
    [maskStyle]="{
      'backdrop-filter': isModalVisible ? 'blur(20px)' : 'none',
      '-webkit-backdrop-filter': isModalVisible ? 'blur(20px)' : 'none',
      background: 'rgba(255, 255, 255, 0.4)'
    }"
    (onHide)="closeModal()"
    [closable]="remediationImpactModalOpened() ? false : true"
    [ngStyle]="setCustomHeight"
  >
    <ng-template pTemplate="header">
      <div class="flex align-items-center">
        @if(remediationImpactModalOpened()){
        <span class="remediation-impacts-back-btn" (click)="goBack()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M4 7.70625L4.35313 7.35312L10.3531 1.35312L10.7063 1L11.4125 1.70625L11.0594 2.05938L5.4125 7.70625L11.0594 13.3531L11.4125 13.7063L10.7063 14.4125L10.3531 14.0594L4.35313 8.05937L4 7.70625Z"
              fill="white"
            />
          </svg>
        </span>
        <span class="remediation-impacts-title">
          {{ "remediationManagementModal.remediationImpact.title" | transloco }}
        </span>
        }@else{
        <span>{{ modalTitle }}</span>
        }
      </div>
    </ng-template>

    <div class="base-readonly-modal__projected-content">
      <ng-content></ng-content>
    </div>
  </p-dialog>
</div>
