@if(remediationImpactModalOpened()){

<div class="scrollable-content">
  @for(macrofunc of impactedFunctionIdsByMacroFunction(); track macrofunc; let i
  = $index) {

  <app-reliability-bar
    [reliabilityBarTitle]="macrofunc.macroFunctionName"
    [finalPercentage]="
      calculateOperatingPercentageByRiskEngine(macrofunc.macroFunctionId)
    "
    [macrofuncTrendPercentage]="
      calculateMacrofuncTrendingPercentage(macrofunc.macroFunctionId)
    "
    [macrofuncOVPercentage]="
      calculateCyberResiliencePercentageByMacrofunc(macrofunc.macroFunctionId)
    "
  ></app-reliability-bar>

  @for(accordionItem of getAccordionData(macrofunc.macroFunctionName); track
  accordionItem.id; let i = $index) {
  @if(checkIfAccordionItemIsInCurrentMacroFunction(accordionItem,macrofunc.functionIds)){
  <app-tree-view-node
    [isHostRemediationManagement]="true"
    [data]="accordionItem"
    [initiallyExpanded]="accordionItem.isExpanded ?? false"
  >
  </app-tree-view-node>
  } } }

  <div class="impactModalWarn">
    <div class="impactModalWarn__warn-icon">
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path
            d="M13.36 14.0001H2.63609C1.61074 14.0001 0.969113 12.8911 1.48022 12.0022L6.84219 2.67701C7.35486 1.7854 8.64126 1.7854 9.15393 2.677L14.5159 12.0022C15.027 12.8911 14.3854 14.0001 13.36 14.0001Z"
            stroke="#FFCF26"
            stroke-width="1.5"
            stroke-linecap="round"
          />
          <path
            d="M8 6V8.66667"
            stroke="#FFCF26"
            stroke-width="1.5"
            stroke-linecap="round"
          />
          <path
            d="M8 11.3399L8.00667 11.3325"
            stroke="#FFCF26"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
      <span class="impactModalWarn__warn-icon__text">WARNING</span>
    </div>

    <div class="impactModalWarn__hint">Forecast based on actual condition</div>
  </div>
</div>

}@else{
<div class="incident-management">
  <app-dinamic-tabs [tabs]="eventTabs()" [tabContentTemplate]="eventTemplate" />
  <ng-template #eventTemplate let-event="event" let-index="index">
    <div class="incident-management__tab">
      <div class="incident-management__tab__false-positive">
        <div class="incident-management__tab__false-positive__details">
          <span
            class="incident-management__tab__false-positive__details__description"
            >{{ event.name }}</span
          >
          <span
            class="incident-management__tab__false-positive__details__date"
            >{{ event.creationDate | date : "dd/MM/yyyy - HH:mm" }}</span
          >
        </div>
        @if(selectedActionIndex() === 0 && !falsePositiveMode()) {
        <button
          #btnMarkAsFalsePositive
          class="incident-management__tab__false-positive__button"
          (click)="enableFalsePositiveMode()"
          [disabled]="
            isMarkAsFalsePositiveRequired() ||
            isCurrEventMarkedAsFalsePositive() ||
            isCurrentEventJustManaged()
          "
          [ngStyle]="isBtnMarkAsFalsePositiveClickable()"
        >
          {{
            "remediationManagementModal.markAsFalsePositive.buttonLabel"
              | transloco
          }}
        </button>
        }
      </div>
      <div class="incident-management__tab__remediation">
        <span class="incident-management__tab__remediation__title">{{
          "remediationManagementModal.remediation.title" | transloco
        }}</span>
        <div class="incident-management__tab__remediation__container">
          <div
            class="incident-management__tab__remediation__container__stepper"
          >
            <app-stepper [currentEvent]="currentEvent"></app-stepper>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
}
