<div class="filter-buttons-container">
  <div class="filter-buttons-container__button-group">
    <p-toggleButton
      [(ngModel)]="selectedStatuses['solved']"
      (onChange)="updateFilters()"
      [onLabel]="'filters.incidentStatuses.solved' | transloco"
      [offLabel]="'filters.incidentStatuses.solved' | transloco"
      styleClass="filter-buttons-container__button-group__btn-element"
    >
    </p-toggleButton>

    <p-toggleButton
      [(ngModel)]="selectedStatuses['falsePositive']"
      (onChange)="updateFilters()"
      [onLabel]="'filters.incidentStatuses.falsePositive' | transloco"
      [offLabel]="'filters.incidentStatuses.falsePositive' | transloco"
      styleClass="filter-buttons-container__button-group__btn-element"
    >
    </p-toggleButton>
  </div>
</div>
