@use "../../../../variables" as variables;
@use "../../../../fonts" as fonts;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  height: 100vh;
  overflow: hidden;
  padding-bottom: 80px;
}

.asset-management-page {
  display: flex;
  height: 100%;
  overflow: hidden;
  padding: 24px 3rem 0;
  gap: 24px;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
