<section class="ship-state">
  <h3 class="ship-state__title">Seafuture - 2025</h3>

  <!-- Stato della nave - al momento commentato in quanto non vi è modo di reperire da BE queste informazioni sullo stato della nave -->
  <!-- <div class="ship-state__ship-mode">
    <span> Ship mode: </span>
    <div class="ship-state__ship-mode__status-indicator" aria-label="Docked, operational">
      <span class="ship-state__ship-mode__status-indicator__icon">
        <img src="assets/svg/docked-status.svg" alt="Filters Icon" />
      </span>
      <span>Docked</span>
    </div>
  </div> -->
</section>
