@use "../../../../fonts" as fonts;
@use "../../../../variables" as variables;

.sidebar {
  position: fixed;
  top: 0;
  right: -30rem;
  width: 30rem;
  height: 100vh;
  background: #000d1a;
  color: variables.$base-app-text-color;
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 100;

  &--open {
    right: 0;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: variables.$sidebar-overlay-bg-color;
    backdrop-filter: blur(0.313rem);
    z-index: 90;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    clip-path: inset(0 30rem 0 0);
  }

  &--open &__overlay {
    opacity: 1;
    pointer-events: auto;
  }

  &__content {
    padding: 1rem 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1rem;
      border-bottom: 0.063rem solid variables.$sidebar-footer-border;
      margin-bottom: 2rem;

      &__title {
        @include fonts.monts_300_title;
        margin: 0;
      }

      &__close-button {
        background: variables.$app-transparent-bg;
        border: none;
        color: variables.$base-app-text-color;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      padding: 0 32px;

      &__item {
        margin-bottom: 0.5rem;
        padding: 0;

        &__card {
          border: 0.063rem solid variables.$sidebar-footer-border;
          border-radius: 0.5rem;
          padding: 0.5rem 0.5rem;
          margin: 0 0.5rem 1rem;
          box-shadow: 0 0.125rem 0.25rem variables.$sidebar-card-shadow-color;
          @include fonts.body-sans-50;
          display: flex;
          text-align: center;
          justify-content: flex-start;
          gap: 0.5rem;

          &__ckbox {
            display: flex;
            align-items: center;
          }

          &__label {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      margin-top: auto;
      padding: 1rem 2rem;
      border-top: 0.063rem solid variables.$sidebar-footer-border;
      width: 100%;

      &__button {
        padding: 0.5rem 1rem;
        border: none;
        cursor: pointer;

        &--cancel {
          background: variables.$app-transparent-bg;
          color: variables.$base-app-text-color;
          text-decoration: underline;
          width: 30%;
          @include fonts.monts_300_content;
        }

        &--save {
          display: inline-block;
          background: variables.$border-primary-default;
          color: variables.$base-app-text-color;
          text-decoration: none;
          border-radius: 5%;
          text-align: center;
          width: 30%;
          @include fonts.monts_300_content;
        }
      }
    }
  }
}

.saveBtnActive{
  background: variables.$dashboard-sidebar-checkbox-bg-color;
}
