@use "../../../../fonts" as fonts;
@use "../../../../variables" as variables;

.sidebar {
  position: fixed;
  top: 0;
  right: -30rem;
  width: 30rem;
  height: 100vh;
  background: #000d1a;
  color: variables.$base-app-text-color;
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 100;

  &--open {
    right: 0;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: variables.$sidebar-overlay-bg-color;
    backdrop-filter: blur(0.9375rem);
    z-index: 90;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }

  &--open &__overlay {
    opacity: 1;
    pointer-events: auto;
  }

  &__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
    border-left: 1px solid variables.$border-primary-default;
    background: variables.$background-tertiary-default;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 2.5rem;
      border-bottom: 0.063rem solid variables.$border-primary-default;
      margin-bottom: 2rem;

      &__title {
        @include fonts.heading-100;
        margin: 0;
      }

      &__close-button {
        background: variables.$no-bg-color;
        border: none;
        color: variables.$base-app-text-color;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      padding: 0 32px;

      &__item {
        margin-bottom: 0.5rem;
        padding: 0;

        &__card {
          border: 0.063rem solid variables.$border-secondary-default;
          border-radius: 0.5rem;
          padding: 0.5rem 0.5rem;
          margin: 0 0.5rem 1rem;
          @include fonts.body-sans-50;
          display: flex;
          text-align: center;
          justify-content: flex-start;
          gap: 0.5rem;

          &__ckbox {
            display: flex;
            align-items: center;
          }

          &__label {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      margin-top: auto;
      padding: 1.5rem 2.5rem;
      border-top: 0.063rem solid variables.$border-primary-default;
      width: 100%;

      &__button {
        padding: 1rem;
        border: none;
        cursor: pointer;

        &--cancel {
          background: variables.$no-bg-color;
          color: variables.$base-app-text-color;
          text-decoration: underline;
          width: 30%;
          @include fonts.monts_300_content;
        }

        &--save {
          display: inline-block;
          background: variables.$background-secondary-default;
          color: variables.$text-secondary-default;
          text-decoration: none;
          border-radius: 5%;
          text-align: center;
          min-width: 5.625rem;
          width: 40%;
          @include fonts.monts_300_content;
        }
      }
    }
  }
}

.saveBtnActive {
  background: variables.$background-accent-default;
}
