@use "../../../../../variables" as variables;
@use "../../../../../fonts" as fonts;
.asset-modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  &__content {
    display: flex;
    gap: 1.5rem;

    &--label {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      height: 32px;
    }
    &--radio {
      appearance: none;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
      border: 2px solid variables.$base-app-text-color;
      cursor: pointer;
      transition: all 0.1s ease;
      position: relative;

      &:checked {
        &::after {
          content: "";
          position: absolute;
          top: 2px;
          left: 2.2px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: variables.$base-app-text-color;
        }
      }
    }
  }
}
