@mixin typography {
  // Variabili CSS per la tipografia
  --text-primary-default: #fff;
  --typography-family-sans: Montserrat, sans-serif;
  --body-body-100: 16px;
  --typography-weight-medium: 500;

  // Stili di base per il testo
  overflow: hidden;
  color: var(--text-primary-default);
  text-overflow: ellipsis;

  font-family: var(--typography-family-sans);
  font-size: var(--body-body-100);
  font-style: normal;
  font-weight: var(--typography-weight-medium);
  line-height: normal;
  letter-spacing: 0.16px;
}
