@if(incidentData){
<div class="header-container">
  <div class="header-container__back-info">
    <button class="circle-button" (click)="navigateToIncidentDetailInitiator()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
      >
        <path
          d="M4 7.70625L4.35313 7.35312L10.3531 1.35312L10.7063 1L11.4125 1.70625L11.0594 2.05938L5.4125 7.70625L11.0594 13.3531L11.4125 13.7063L10.7063 14.4125L10.3531 14.0594L4.35313 8.05937L4 7.70625Z"
          fill="white"
        />
      </svg>
    </button>
    <div class="header-container__back-info__info">
      <p class="header-container__back-info__info__incident-name">
        {{ incidentData.title }}
      </p>
      <p class="header-container__back-info__info__notification">
        {{ incidentData.description }}
      </p>
    </div>
  </div>

  <div class="header-container__right-info">
    <div class="header-container__right-info__impacted-system">
      <p class="uppercase">
        {{
          "incidentDetailPage.incidentDetailHeader.impactedSystem.title"
            | transloco
        }}
      </p>
      <p class="header-container__right-info__impacted-system__list">{{ getIncidentImpactedSystems() }}</p>
    </div>
    <div class="header-container__right-info__divider"></div>
    <div class="header-container__right-info__date">
      <p class="uppercase">
        {{ "incidentDetailPage.incidentDetailHeader.date.title" | transloco }}
      </p>
      <p>{{ incidentData.createdAt | date : "dd/MM/yyyy - HH:mm" }}</p>
    </div>
    <div class="header-container__right-info__divider"></div>
    <div class="header-container__right-info__alertLevel">
      <p class="uppercase">
        {{
          "incidentDetailPage.incidentDetailHeader.alertLevel.title" | transloco
        }}
      </p>

      <div class="header-container__right-info__alertLevel__alert">
        <p>{{ capitalizeFirstLetter(incidentData.severity) }}</p>
        <span
          class="header-container__right-info__alertLevel__alert__icon"
          [ngStyle]="{
                'background-color': getAlertSeverityColor(incidentData.severity),
                'box-shadow': getAlertSeverityShadow(incidentData.severity),
              }"
        ></span>
      </div>
    </div>
    <div class="header-container__right-info__divider"></div>
    <div class="header-container__right-info__status">
      <p class="uppercase">
        {{ "incidentDetailPage.incidentDetailHeader.status.title" | transloco }}
      </p>
      <p>{{ capitalizeFirstLetter(incidentData.status) }}</p>
    </div>
  </div>
</div>
}
