@use "../../../../fonts" as fonts;
@use "../../../../variables" as variables;

.stepper__call_to_action_bar {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 48px;

  &__show-remediation {
    border: 1px solid variables.$base-app-text-color;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
    align-items: flex-end;
    cursor: pointer;

    button {
      background: none;
      border: none;
    }
  }
  &__actions {
    @include fonts.monts_300_content;
    padding: 0.5rem 1rem;
    border: none;
    display: inline-block;
    background: variables.$border-primary-default;
    color: variables.$text-secondary-default;
    text-decoration: none;
    border-radius: 0.25rem;
    text-align: center;
    &__active {
      background: variables.$dashboard-sidebar-checkbox-bg-color;
      color: variables.$base-app-text-color;
      cursor: pointer;
    }
  }
}

      .false-positive-panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__warning {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__title {
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-top: 148px;
    padding-right: 20px;

    &__cancel {
      border: 1px solid variables.$base-app-text-color;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      cursor: pointer;
      background: none;
      color: #fff;
    }

    &__actions {
      @include fonts.monts_300_content;
      padding: 0.5rem 1rem;
      border: none;
      display: inline-block;
      background: variables.$border-primary-default;
      color: variables.$text-secondary-default;
      text-decoration: none;
      border-radius: 0.25rem;
      text-align: center;
      &__active {
        background: variables.$error-default;
        color: variables.$background-tertiary-default;
        cursor: pointer;
      }
    }
  }
}
