.vessel-perfomance {
  display: flex;
  flex-direction: column;
  height: 570px;
  min-height: 520px;
  overflow: auto;

  &__progressBar {
    width: 100%;
    padding: 4px 0;

    &__card {
      position: relative;
      z-index: 1;
      height: 72px;

      .progress-container {
        display: flex;
        align-items: center;
        gap: 28px;
        width: 100%;

        .progress-wrapper {
          position: relative;
          flex-grow: 1;
        }

        .link-icon {
          cursor: pointer;
          transition: color 0.2s;
          margin-bottom: 20px;
        }
      }

      &__indicator-container {
        position: relative;
        width: 100%;
        margin-bottom: 1rem;
        display: flex;

        &--arrow {
          position: absolute;
          bottom: -0.125rem;
          width: 0;
          height: 0;
          border-left: 0.25rem solid transparent;
          border-right: 0.25rem solid transparent;
          border-bottom: 0.5rem solid #007ad9;
          transform: translateX(-50%);
        }

        &--value {
          margin-top: 0.5rem;

          span {
            bottom: -1.25rem;
            display: inline-block;
            position: absolute;
            font-size: 0.75rem;
          }
        }
      }

      &__corner-cut {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 16px 0 0 16px;
        background-color: transparent;
        z-index: 2;
      }

      &__corner-cut-cover {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 14px 0 0 14px;
        background-color: transparent;
        z-index: 3;
      }
    }
  }
}

.percentage-left-alligned {
  transform: translateX(-30%);
}

.percentage-right-alligned {
  transform: translateX(-85%);
}
