@use "../../../../../../variables" as variables;
@use "../../../../../../fonts" as fonts;

.table-wrapper {
  position: relative;
  min-height: 400px;

  :host {
    display: block;
    width: 100%; // Assicura che il componente occupi tutto lo spazio disponibile
    overflow-x: auto; // Abilita lo scroll orizzontale se necessario
    padding: 0;
  }

  .incident-overview-table {
    width: 100%;
    min-width: fit-content; // Forza la tabella ad adattarsi al contenuto minimo
    position: relative;
    display: flex;
    flex-direction: column;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 0;
      min-height: 3.5rem; // altezza minima costante

      &--title {
        @include fonts.body-sans-150-light;
      }

      &--call-to-actions {
        display: flex;
        gap: 4px;
        padding: 0;
        align-items: center;
        justify-content: space-between;

        &--settings,
        &--filters {
          border-radius: 4px;
          padding: 8px 16px;
          background-color: transparent;
          @include fonts.utilities-link-100;
          text-decoration: underline;
          border: 1px solid #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 32px;
          width: 136px;
          gap: 12px;

          span.label {
            display: inline-block;
          }

          span.icon {
            display: inline-block;
            margin-top: 5px;
          }

          &:active {
            color: variables.$border-secondary-default;
          }
        }
      }
    }

    &__description,
    &__creationDate {
      text-overflow: ellipsis;
    }

    &__deck,
    &__frame,
    &__assetInvolved,
    &__mvz{
      text-align: end;
    }

    &__alert-level {
      display: flex;

      &--alert-icon {
        display: inline-block;
        min-width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-top: 4px;
        margin-right: 8px;
      }
    }

    &__paginator-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      height: 33px;
      position: absolute;
      bottom: 5px;

      &__report {
        @include fonts.body-sans-25;
      }
    }
  }

  .ascendingSortIcon {
    display: inline-block;
    position: relative;
    bottom: 5px;
  }

  .ascendingDescendingSortIcon {
    display: inline-block;
    position: relative;
    top: 3px;
  }

  .custom-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    transition: border 0.2s ease;
    font-size: 1rem;
    min-width: 100px;

    // Fix per evitare layout shift
    border: 2px solid transparent;
    border-radius: 0;

    .icon img {
      width: 16px;
      height: 16px;
    }

    &:hover {
      border: 1px solid white;
    }
  }

  .filtersBtn {
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
  }

  .settingsBtn {
    border: none;
  }

  .columnTitleEnd {
    text-align: end !important;
  }

  .assetsInvolvedWidth {
    width: 8% !important;
  }

  .mvzWidth {
    width: 6% !important;
  }

  .incidentIdWidth {
    width: 7% !important;
  }

  .descriptionWidth {
    width: 33% !important;
  }

  .decksInvolvedWidth {
    width: 8% !important;
  }

  .framesInvolvedWidth {
    width: 8% !important;
  }

  .dateWidth {
    width: 14% !important;
  }

  .alertLevelWidth {
    width: 11% !important;
  }

  .linkToIncidentManageWidth {
    width: 7% !important;
  }

  .linkToIncidentOVWidth {
    width: 4% !important;
  }

  .filtersAppliedAmount {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;

    span {
      display: inline-block;
      width: 100%;
      height: 100%;
      @include fonts.body-sans-15-strong;
      color: #000000;
      text-align: center;
      vertical-align: middle;
      margin-top: 4px;
    }
  }

  .manageIncidentBtn {
    width: 100%;
    padding: 0.5 rem;
    border-radius: 4px;
    background-color: #3c66ef;
    @include fonts.utilities-button-100;
    height: 30px;
    border: none;
  }
}

.no-records-message {
  text-align: start;
  padding: 0;
  font-size: 1rem;
  border-bottom: none;
  margin: 1rem;
}

.manageButtonContainer {
  display: flex;
  justify-content: center;
}

.incident-row {
  cursor: default !important;

  // Rimuove qualsiasi hover predefinito sulle righe, se presente
  &:hover {
    cursor: default;
  }
}

.manageButtonContainer {
  cursor: pointer !important;
}

.p-text-primary {
  cursor: pointer !important;
}
