@use "../../../../fonts" as fonts;

.asset-status-buttons-container {
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center; // Centra orizzontalmente il gruppo

  &__button-group {
    display: flex;
    gap: 16px; // Spaziatura uniforme tra i pulsanti
    flex-wrap: wrap; // Garantisce che rimangano sulla stessa riga
    justify-content: center; // Centra i pulsanti nel gruppo
    width: fit-content; // Adatta la larghezza al contenuto

    &__btn-element {
      display: inline-block;
      transition: all 0.3s ease;
      min-width: 175px; // Larghezza fissa per tutti i pulsanti
      width: 175px; // Larghezza fissa per tutti i pulsanti
      text-align: center; // Testo centrato
      padding: 0; // Padding verticale
      background-color: transparent !important; // Background trasparente
      color: white !important; // Testo bianco

      &:hover {
        opacity: 0.8; // Effetto hover leggero
      }

      &.p-highlight {
        background: #3c66ef !important;
      }

      // Rimuove lo stile predefinito di PrimeNG
      &.p-button {
        background: transparent;
        border: 1px solid white;
      }
    }
  }
}
